.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh; 
  min-height: 75vh;
  padding: 0 0.5rem;
}

.boardboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 660px; 
  height: 1125px; 
  background-color: #C6C6C6;
  border-top: 15px solid #fff;
  border-left: 15px solid #fff;
  border-bottom: 15px solid #808080;
  border-right: 15px solid #808080;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 570px; 
  height: 570px;
  margin-bottom: 30px; 
  background-color: #C6C6C6;
  border-top: 15px solid #808080;
  border-left: 15px solid #808080;
  border-bottom: 15px solid #fff;
  border-right: 15px solid #fff;
}

.upper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 562.5px;
  height: 82.5px;
  background-color: #fff;
}

.cell {
  width: 60px; 
  height: 60px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  width: 60px; 
  height: 60px;
  background: url('~/assets/images/icons.png') no-repeat;
  background-size: 1400%;
  border: 2px solid #808080;
}

.stone {
  width: 60px; 
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 10px solid #fff;
  border-left: 10px solid #fff;
  border-bottom: 10px solid #808080;
  border-right: 10px solid #808080;
}