.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 720px;
  height: 720px;
  background-color: #c6c6c6;
}

.cell {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  width: 80px;
  height: 80px;
  background: url('~/assets/images/icons.png') no-repeat;
  background-size: 1400%;
  border: 2px solid #808080;
}

.stone {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 10px solid #fff;
  border-left: 10px solid #fff;
  border-bottom: 10px solid #808080;
  border-right: 10px solid #808080;
}
