.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.boardboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 660px;
  height: 840px;
  background-color: #c6c6c6;
  border-top: 15px solid #fff;
  border-left: 15px solid #fff;
  border-bottom: 15px solid #808080;
  border-right: 15px solid #808080;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 570px;
  height: 570px;
  background-color: #c6c6c6;
  border-top: 15px solid #808080;
  border-left: 15px solid #808080;
  border-bottom: 15px solid #fff;
  border-right: 15px solid #fff;
}

.upper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width: 570px;
  height: 150px;
  background-color: #c6c6c6;
  border-top: 15px solid #808080;
  border-left: 15px solid #808080;
  border-bottom: 15px solid #fff;
  border-right: 15px solid #fff;
}

.left,
.middle,
.right {
  height: 80%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  flex: 1.5;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #000;
  border-top: 5px solid #808080;
  border-left: 5px solid #808080;
  border-bottom: 5px solid #fff;
  border-right: 5px solid #fff;
  color: red;
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle {
  flex: 1;
  position: relative;
  background-color: transparent;
  border: 0;
}

.middle::before {
  position: absolute;
  content: '';
  width: 80px;
  height: 80px;
  background: url('~/assets/images/icons.png') no-repeat;
  background-size: 1400%;
  background-position: 84.56% 50%;
  border: 5px #808080;
  left: 50%;
  transform: translateX(-50%);
  border-top: 10px solid #fff;
  border-left: 10px solid #fff;
  border-bottom: 10px solid #808080;
  border-right: 10px solid #808080;
}

.middle::after {
  position: absolute;
  content: '';
  width: 96px;
  height: 96px;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid #808080;
  z-index: 0;
}

.over {
  flex: 1;
  position: relative;
  margin-bottom: 100px;
  background-color: transparent;
  border: 0;
}

.over::before {
  position: absolute;
  content: '';
  width: 80px;
  height: 80px;
  background: url('~/assets/images/icons.png') no-repeat;
  background-size: 1400%;
  background-position: 100% 50%;
  border: 5px #808080;
  left: 50%;
  transform: translateX(-50%);
  border-top: 10px solid #fff;
  border-left: 10px solid #fff;
  border-bottom: 10px solid #808080;
  border-right: 10px solid #808080;
}

.over::after {
  position: absolute;
  content: '';
  width: 96px;
  height: 96px;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid #808080;
  z-index: 0;
}

.clear {
  flex: 1;
  position: relative;
  margin-bottom: 100px;
  background-color: transparent;
  border: 0;
}

.clear::before {
  position: absolute;
  content: '';
  width: 80px;
  height: 80px;
  background: url('~/assets/images/icons.png') no-repeat;
  background-size: 1400%;
  background-position: 92.25% 50%;
  border: 5px #808080;
  left: 50%;
  transform: translateX(-50%);
  border-top: 10px solid #fff;
  border-left: 10px solid #fff;
  border-bottom: 10px solid #808080;
  border-right: 10px solid #808080;
}

.clear::after {
  position: absolute;
  content: '';
  width: 96px;
  height: 96px;
  left: 50%;
  transform: translateX(-50%);
  border: 3px solid #808080;
  z-index: 0;
}

.right {
  flex: 1.5;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #000;
  border-top: 5px solid #808080;
  border-left: 5px solid #808080;
  border-bottom: 5px solid #fff;
  border-right: 5px solid #fff;
  color: red;
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  width: 60px;
  height: 60px;
  background: url('~/assets/images/icons.png') no-repeat;
  background-size: 1400%;
  border: 2px solid #808080;
}

.stone {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 7px solid #fff;
  border-left: 7px solid #fff;
  border-bottom: 7px solid #808080;
  border-right: 7px solid #808080;
}


